div.columns { margin-top: 20px; }
h3.balance { float:right; }
h3.balance i { font-size: 23px; }
div.transactions { min-height:268px; }
table.transactions { margin-top: 20px; }
table.transactions th,
table.transactions td { text-align: right; }
.top-bar-section .currency-selector li a { text-transform: uppercase; }