    <div ng-controller="WalletCtrl" class="row">
        <div class="small-12 medium-8 large-8 columns transactions">
            <h4>Transactions</h4>
            <table class="transactions">
                <thead>
                    <tr>
                        <th width="50"></th>
                        <th>Time</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in $storage.transactions">
                        <td ng-bind="$index + 1"></td>
                        <td ng-bind="transaction.time | date : 'medium'"></td>
                        <td><span ng-bind="currency.code"></span><span ng-bind="transaction.amount"></span></td>
                        <td><span ng-bind="currency.code"></span><span ng-bind="transaction.balance"></span></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="balance">BALANCE: <i class="fa fa-{{currency.class}}"></i><span ng-bind="$storage.balance"></span></h3>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <form name="action-form" id="action-form" action="" novalidate>
                <label for="amount">Amount (only numbers)</label>
                <input type="text" required="required" numbers-only name="amount" id="value" ng-model="form.amount" placeholder="Please enter value">
                <small ng-class="form.messagetype" ng-bind="form.message"></small>
                <label for="action-type">Action</label>
                <select name="action-type" id="action-type" ng-model="form.action">
                    <option value="add">Add</option>
                    <option value="remove">Remove</option>
                </select>
                <button ng-click="save()" ng-disabled="form.amount == ''">
                    SAVE
                </button>
            </form>
        </div>
    </div>